/*** ---/ RESULTS STYLES /--- ***/


/*** Common behavior of the elements ***/
.app-document-wrapper,
.app-detail-wrapper,
.app-content-wrapper {
  overflow-x: hidden;
  overflow-y: auto;
}

.app-document-wrapper > div {
  padding: 30px 0 30px 30px;
}

.app-detail-wrapper > div {
  padding: 30px;
}


/*** Result view ***/
.app-result-wrapper {
  padding: 30px 15px 30px 30px;
}

.app-result-item {
  padding-left: 0;
}

.app-result-item-wrapper {
  position: relative;
  min-height: 185px;
  margin-bottom: 15px;
  border-top: 5px solid #55b2af;
  background-color: #fff;
  padding: 15px 0 0 15px;
}

.app-result-item-wrapper:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}

.app-result-item-wrapper > p {
  font-size: 12px;
}

.app-result-item-wrapper > p > strong {
  display: block;
}

.app-result-item-wrapper > img {
  padding: 0 15px 15px 0;
}

.app-result-item-wrapper > .app-result-item-info {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #e5e5e5;
  padding: 3px 15px 3px 15px;
  font-size: 11px;
}

.app-result-view-row {
  width: 100% !important;
}


/*** Document view ***/
.app-page-document .app-result-item {
  padding-left: 0;
  width: 12.4443%;
  width: 14.2221%; /* 1600 */
}

.app-page-document .app-result-item .app-result-item-wrapper {
  padding: 15px;
  text-align: center;
}

.app-page-document .app-result-item .app-result-item-wrapper:before {
  border-bottom: 1px solid #e5e5e5;
}

.app-page-document .app-result-item .app-result-item-wrapper-active {
  background-color: #FFFFEF;
}

.app-page-document .app-result-item .app-result-item-wrapper > img {
  display: inline;
  padding: 0 0 15px 0;
}


/*** Detail view ***/
.app-detail-wrapper {
  display: none;
}

.app-page-detail .app-document-wrapper {
  width: 500px;
  float: left;
  background-color: #e9e9e9;
  border-right: 1px solid #cccccc;
  box-shadow: 1px 0 0 #fff;
}

.app-page-detail .app-document-wrapper .app-result-item {
  width: 33%;
}

.app-page-detail .app-detail-wrapper {
  display: block;
  position: relative;
  float: left;
  width: calc(100% - 500px);
}

.app-page-detail .app-detail-wrapper > div {
  padding: 30px;
  height: 100%;
  text-align: center;
}

.app-page-detail .app-detail-wrapper > div > .fa-angle-left,
.app-page-detail .app-detail-wrapper > div > .fa-angle-right {
  position: absolute;
  top: 50%;
}

.app-page-detail .app-detail-wrapper > div > .fa-angle-left {
  left: 30px;
}

.app-page-detail .app-detail-wrapper > div > .fa-angle-right {
  right: 30px;
}

.app-page-detail .app-detail-wrapper > div > a > img {
  max-height: 100%;
  max-width: 100%;
}

.app-page-detail .app-detail-img-nav {
  position: absolute;
  top: 30px;
  right: 30px;
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.100);
  margin-left: 30px;
}

.app-page-detail .app-detail-img-nav > ul > li {
  float: left;
}


/*** Detail fullscreen ***/
.app-detail-fullscreen #app-sidebar-wrapper,
.app-detail-fullscreen #app-btn-sidebar-toggle,
.app-detail-fullscreen .app-document-wrapper {
  display: none;
}

.app-detail-fullscreen {
  padding-left: 0 !important;
}

.app-detail-fullscreen .app-detail-wrapper {
  width: 100%;
}


/*** Count of results ***/
.app-result-count {
  padding: 11px 10px;
  font-size: 13px;
}


/*** Pagination ***/
.app-pagination {
  margin: 4px 0 0 5px;
}

.app-pagination > .active > a,
.app-pagination > .active > a:hover,
.app-pagination > .active > a:focus {
  background-color: transparent;
  color: #333;
  font-weight: bold;
}


/************************/
/**** MEDIA QUERIES ****/
/************************/


/*** Max 767 ***/
@media (max-width: 767px) {
  .app-navbar .navbar-form {
    border-bottom: none;
    margin-top: 0;
    padding: 15px 15px 5px 15px;
    background-color: #0073B2;
  }
}

/*** Resize behavior of the result item  ***/
@media (max-width: 1760px) {
  .app-result-item {
    width: 33.3333%;
  }
  .app-result-detail-thumb {
    width: 350px;
  }
  .app-result-detail-view {
    margin-left: 350px;
  }
}

@media (max-width: 1430px) {
  .app-result-item {
    width: 50%;
  }
  .app-result-level .app-result-item {
    width: 20%;
  }
}

@media (max-width: 1090px) {
  .app-result-item {
    width: 100%;
  }
  .app-result-level .app-result-item {
    width: 25%;
  }
}

@media (max-width: 992px) {
  .app-result-level .app-result-item {
    width: 100%;
  }
  .app-result-detail-thumb {
    width: 200px;
  }
  .app-result-detail-view {
    padding-left: 200px;
  }
}

/*** Responsive behavior for doc wrapper and detail wrapper ***/
@media (max-width: 1200px) {
  .app-page-detail .app-document-wrapper,
  .app-page-detail .app-detail-wrapper  {
    float: none;
    width: 100%;
  }
}
