<div id="app-sidebar-wrapper">
<!-- Sidebar nav -->
<ul class="nav app-sidebar-nav">

  <li class="facet">
    <strong class="facet-name">loading...</strong><span class="app-color-gray-light app-cursor-pointer collapsed" data-toggle="collapse" data-target="#app-collapse-type"> </span>
    <ul class="list-unstyled app-color-gray collapse facet-list" id="app-collapse-type">
      <li class="facet-value"><a href="#" class="facet-value-text"></a><span class="pull-right app-color-gray-light facet-value-count">77</span></li>
    </ul>
  <hr />
  </li>


  <li class="app-sidebar-pushdown"> </li>
</ul><!--/.sidebar nav -->
</div>