
  <head>
    #parse("new-common-header.vm")
    <link href="templates/css/app-timeline.css" rel="stylesheet">

<style>

        @font-face {                                                                                                                              
            font-family: 'RemoteFont';                                                                                                              
            src: url('http://developer.mozilla.org/@api/deki/files/2934/=VeraSeBd.ttf') format('truetype');                                         
        }


        #canvasda{
            width:100%; 
            height:100px;
        }
        #canvasda .app-timeline-info{
            font: 12px Duru Sans;
            font-family: 'Duru Sans', sans-serif;
            font-weight: 500;
            color: #ffff00;
            background-color: #234589;
        }
        #canvasda .app-timeline-label{
            font: 12px Duru Sans;
            font-family: 'Duru Sans', sans-serif;
            font-weight: 500;
            color: rgba(23, 45, 89, 1);
            background-color: rgba(23, 45, 89, 0.5);
        }
        #canvasda .app-timeline-bar{
            background-color: orange;
            width: 6px;
        }
        #canvasda .app-timeline-bar .app-timeline-sel{
            background-color: #234589;
        }
    </style>


  </head>

  
  <body class="app-page-timeline">

<!-- Navbar -->
    #parse("navbar.vm")
<!--/.navbar -->
    
    
    <!-- App wrapper -->
    <div id="app-wrapper" class="app-full-height">
      <!-- Content -->
      <div class="container-fluid app-full-height">
        <!-- Row -->
        <div class="row app-full-height">
          <!-- Content wrapper -->
          <div class="app-content-wrapper app-timeline-container">
            
<!-- Timeline row -->
            <div class="app-timeline-row">
              <!-- Timeline sroller -->
              <div class="app-timeline-scroller">
<!-- Timeline item -->
                <div class="app-timeline-item">

<img class="img-responsive pull-left" src="" alt="...">
<p class="app-clean-mg app-pd-right-15">
  <strong><a data-field="root_title" href="#">loading...</a></strong>
  <span class="app-display-block" data-field="dc.creator"></span>
</p>
                  <div class="app-timeline-item-info app-color-gray" role="button" tabindex="0" data-placement="bottom" data-toggle="popover" id="app-timeline-item-1">
                    <i class="fa fa-info app-cursor-pointer"></i>
                  </div>
                  <div class="app-timeline-item-1 hide">
                    <strong class="app-color-black app-display-block">Obrázky z kukátka.</strong>
                    <p>
                      <em class="app-display-block">106</em>
                      <em class="app-display-block">[1926]</em>
                    </p>
                    <p>
                       náš kostel skvěl se v zlaté záři. Nad východem stála obrovská vlídná <mark>duha</mark> neobyčejné krásy. Lidé
                    </p>
                    <p>
                      v lesku novém a <mark>duha</mark> smíru s Bohem i mezi národy že rozklene se nad milou Moravěnkou. Rytíř Ducha
                    </p>
                  </div>
                </div>
<!--/.timeline item -->

              </div><!--/.timeline scroller -->
              
              <!-- Btn group left -->
              <div class="app-timeline-btn-group-left">
                <div class="app-timeline-btn">
                  <strong class="app-year-title"></strong>
                </div>
                <i class="fa fa-angle-left fa-2x app-color-gray-light app-cursor-pointer"></i>
              </div><!--/.btn group left -->
              
              <!-- Btn group right -->
              <div class="app-timeline-btn-group-right">
                <div class="app-timeline-btn">
                  <strong class="app-year-count"></strong>
                </div>
                <i class="fa fa-angle-right fa-2x app-color-gray-light app-cursor-pointer"></i>
              </div><!--/.btn group right -->
            </div>
<!--/.timeline row -->
            

            
            <!-- Vertical nav -->
            <i class="fa fa-angle-up fa-3x app-color-gray-light app-cursor-pointer app-timeline-btn-up"></i>
            <i class="fa fa-angle-down fa-3x app-color-gray-light app-cursor-pointer app-timeline-btn-down"></i><!--/. vertical nav -->
            
          </div><!--/.content wrapper -->
        </div><!--/.row -->
      </div><!--/.content -->
    </div><!--/.app wrapper -->
    
    
    <!-- Timeline bar -->
    <div class="col-md-12 app-timeline-bar" style="overflow:auto;">


        <div id="canvasda" class="years" style="overflow:auto; width:100%; height:100%;bottom:0;">
        <div class="app-timeline-info"></div><div class="app-timeline-label"></div><div class="app-timeline-bar"><div class="app-timeline-sel"></div></div>
        <canvas width="1000" height="130" style="position: absolute;bottom:0;"></canvas>
        </div>



    </div><!--/.timeline bar -->


    <!-- Footer -->
    #parse('new-footer.vm')
    <!--/.footer -->

    <!-- Custom js -->
        <script src="js/rgbHex.min.js"></script>
        <script src="js/jcanvas.js" type="text/javascript" ></script>
    <script src="js/timeline-row.js" type="text/javascript" ></script>
    <script src="js/timeline.js" type="text/javascript" ></script>

  </body>
