
  <head>
    #parse("new-common-header.vm")
    <link href="templates/css/app-browse.css" rel="stylesheet">
    <link href="templates/css/app-toolbar.css" rel="stylesheet">
  </head>

  
  <body class="app-page-result">

<!-- Navbar -->
    #parse("navbar.vm")
<!--/.navbar -->
    
    <!-- App toolbar -->
    <div class="container-fluid app-toolbar">
      <!-- Row -->
      <div class="row">
        <!-- Col -->
        <div class="col-md-12">
          <!-- Form -->
          <form class="navbar-form">
            <input type="text" placeholder="${i18n.browse.placeholder}" class="form-control app-clean-radius" id="browse-input">
          </form><!--/.form -->
        </div><!--/.col -->
      </div><!--/.row -->
    </div><!--/.app toolbar -->
    
    
    <!-- Navbar ABC -->
    <nav class="navbar navbar-default app-navbar-abc app-clean-radius app-clean-border">
      <!-- Nav center -->
      <ul class="nav navbar-nav" id="letters">
        <li class="active letter"><a href="#" class="link">A</a></li>
      </ul><!--/.nav center -->
    </nav><!--/.navbar ABC -->
    
    
    <!-- Wrapper -->
    
    <!-- Content -->
    <div class="container-fluid app-container">
      <!-- Row -->
      <div class="row">
        <div class="col-md-6 app-col-title">
          <div class="row">
            <div class="col-md-12 app-col-title-label">
              <strong>Název</strong>
            </div>
            <ul class="list-unstyled col-md-12" id="titles-list">
              <li class="col-md-6 title-item">
                <strong><a href="#" title="" class="title"></a></strong><br />
                <small class="other">
                </small>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 app-col-author">
          <div class="row">
            <div class="col-md-12 app-col-author-label">
              <strong>Autoři</strong>
            </div>
            <ul class="list-unstyled col-md-12" id="authors-list">
              <li class="col-md-6 author-item">
                <strong><a href="#" title="" class="name"></a></strong><br />
              </li>
            </ul>
          </div>
        </div>
      </div><!--/.row -->
    </div><!--/.content -->

    
    <!-- Footer -->
    #parse('new-footer.vm')
    <!--/.footer -->
    
    <!-- Custom js -->
    <script src="js/new-browse.js" type="text/javascript" ></script>

    <script>
      // Sidebar toggle script
      $("#app-btn-sidebar-toggle").click(function(e) {
        e.preventDefault();
        $("#app-wrapper").toggleClass("toggled");
      });
      
      // Footerbar - collapse modification
      $('.app-footerbar-btn').on('click',function(){
        var isActive = $(this).parent().hasClass('active'); // set var to recognize if the parent element contains class 'active'
        $('.app-footerbar').collapse('hide'); // hide when some other element is collapsed
        $('.app-footerbar-btn').parent().removeClass('active'); // remove class 'active' from all parent elements 
        if(!isActive){ // condition for adding class 'active' to the parent element
          $(this).parent().addClass('active');
        }
      })
    </script>
  </body>
