/*** ---/ BROWSE STYLES /--- ***/


/*** Toolbar ***/
.app-toolbar .form-control {
  width: 600px;
} 


/*** Navbar abc ***/
.app-navbar-abc {
  margin-top: 50px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 0;
}

.app-navbar-abc > .nav {
  float: none !important;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
}

.app-navbar-abc > .nav > li {
  float: none !important;
  display:inline-block;
}


/*** Content ***/
.app-content-wrapper {
  height:calc(100% - 145px);
}

.app-col-title-label,
.app-col-author-label {
  background-color: #ffffff;
  border-bottom: 1px solid #e5e5e5;
  padding-top: 10px;
  padding-bottom: 10px;
}

.app-col-title {
  border-right: 1px solid #e5e5e5;
}

.app-col-title ul,
.app-col-author ul {
  overflow:auto;
  padding-top: 15px;
}

.app-col-title ul {
    height:calc(100% - 40px);
}

.app-col-author ul {
  height:calc(100% - 85px);
}

.app-col-title ul > li {
  margin-bottom: 15px;
  border-left: 3px solid #9e9e9e;
}

.app-col-title ul > li.app-item-private {
  border-color: #c3171d;
}

.app-col-title ul > li.app-item-public {
  border-color: #55b2af;
}


.app-col-author ul > li {
  margin-bottom: 15px;
}

/*** Clear left everytime after second col ***/
.app-col-title ul > li.col-md-6:nth-child(2n+1),
.app-col-author ul > li.col-md-6:nth-child(2n+1) {
  clear: left;
}


/************************/
/**** MEDIA QUERIES ****/
/************************/

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .app-col-title ul,
  .app-col-author ul {
    height:calc(100% - 85px);
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .app-col-title ul,
  .app-col-author ul {
    height:calc(100% - 40px);
  }
  .app-toolbar .form-control {
    margin-left: 500px;
  } 
}

/*** Max 1199 ***/
@media (max-width: 1199px) {
  .app-toolbar .navbar-form {
    text-align: center !important;
  } 
}

/*** Max 768 ***/
@media (max-width: 768px) {
  .app-toolbar .navbar-form {
    padding: 0 15px;
  }
  .app-toolbar .form-control {
    width: 100%;
  } 
}